# How to Set Up your Telegram Channel and Group for the credential verification?

### Set your channel and group as public

![](/img/7F935CxMmVlpfnggvTwo.png)
![](/img/kOvMV25VvPNPphF4UtSW.png)
![](/img/6v8McPpxHH3LHMmaIwSL.png)
![](/img/cuAlIjvjnL9mjqP4oo6F.png)

### Add `@tbook_sign_bot` to the channels, set the bot as admin

![](/img/roOM9dCt6FRgCpfpz73g.png)
![](/img/lgHZIaqUMPcFLEdYPkBj.png)
![](/img/tqbDRhCs83l8T2zXjTuB.png)

**Then all set!**
