> For the complete documentation index, see [llms.txt](https://docs.tbook.com/tbook/llms.txt). Markdown versions of documentation pages are available by appending `.md` to page URLs; this page is available as [Markdown](https://docs.tbook.com/tbook/projects/faq/how-to-set-up-your-telegram-channel-and-group-for-the-credential-verification.md).

# How to Set Up your Telegram Channel and Group for the credential verification?

{% stepper %}
{% step %}

### Set your channel and group as public

<div><figure><img src="/files/7F935CxMmVlpfnggvTwo" alt=""><figcaption></figcaption></figure> <figure><img src="/files/kOvMV25VvPNPphF4UtSW" alt=""><figcaption></figcaption></figure> <figure><img src="/files/6v8McPpxHH3LHMmaIwSL" alt=""><figcaption></figcaption></figure> <figure><img src="/files/cuAlIjvjnL9mjqP4oo6F" alt=""><figcaption></figcaption></figure></div>
{% endstep %}

{% step %}

### Add [`@tbook_sign_bot`](mailto:undefined) to the channels, set the bot as admin

<div><figure><img src="/files/roOM9dCt6FRgCpfpz73g" alt=""><figcaption></figcaption></figure> <figure><img src="/files/lgHZIaqUMPcFLEdYPkBj" alt=""><figcaption></figcaption></figure> <figure><img src="/files/tqbDRhCs83l8T2zXjTuB" alt=""><figcaption></figcaption></figure></div>
{% endstep %}
{% endstepper %}

**Then all set!**
